In [1]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('../data/movies_metadata.csv')
ratings = pd.read_csv('../data/ratings.csv')

# Drop unnecessary columns
movies.drop(['adult', 'belongs_to_collection', 'homepage', 'poster_path', 'production_companies', 'spoken_languages', 'tagline', 'original_title', 'video', 'popularity'], axis=1, inplace=True)

/home/buscemi/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Clean Data
Remove and reorder columns.

In [4]:
# Re-order columns
movies = movies[['id','imdb_id','title','budget','genres','original_language','overview','production_countries','release_date','revenue','runtime','status','vote_average','vote_count']]

In [5]:
# Rename columns
movies.rename(columns={'original_language': 'language', 'production_countries': 'production_country'}, inplace=True)

In [6]:
# Update data types
movies = movies.convert_dtypes()

In [7]:
# Remove irregular ids
movies.drop(movies.id.loc[movies.id.str.contains('-')].index, inplace=True)

In [8]:
# Convert data types
movies = movies.astype({"id": 'int', "budget": 'int'})

In [9]:
movies.set_index('id', inplace=True)

In [10]:
movies.head(5)

,imdb_id,title,budget,genres,language,overview,production_country,release_date,revenue,runtime,status,vote_average,vote_count
id,,,,,,,,,,,,,
862,tt0114709,Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81,Released,7.7,5415
8844,tt0113497,Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104,Released,6.9,2413
15602,tt0113228,Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,A family wedding reignites the ancient feud be...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,101,Released,6.5,92
31357,tt0114885,Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"Cheated on, mistreated and stepped on, the wom...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127,Released,6.1,34
11862,tt0113041,Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]",en,Just when George Banks has recovered from his ...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,106,Released,5.7,173

In [10]:
movies.dtypes

imdb_id                  string
title                    string
budget                    int64
genres                   string
original_language        string
overview                 string
production_countries     string
release_date             string
revenue                   Int64
runtime                   Int64
status                   string
vote_average            float64
vote_count                Int64
dtype: object

In [ ]:
movie_ratings = movies.join(ratings.set_index('movieId'), on='id', how='left')